---
interface Props {
	title: string;
	description: string;
	canonical?: string;
	image?: string;
}

const { title, description, canonical, image } = Astro.props as Props;

const determineCanonicalURL = () => {
	if (Astro.url.host.includes("localhost")) return "http://localhost:3000";
	return canonical || Astro.url.pathname;
};

const canonicalURL = new URL(determineCanonicalURL(), Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description} />

<link rel="preconnect" href="https://cdn.snapmenu.online" />

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<meta property="og:image" content={image} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="SnapMenu" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
