---
import MenuLayout from "../layouts/MenuLayout.astro";
import type { IMenu } from "../types/Menu";
import { PRIVATE_ROUTES } from "../utils/constant";

if (PRIVATE_ROUTES.includes(Astro.url.pathname)) {
    return Astro.redirect("/dashboard");
}

const { menu } = Astro.params;
const currentMenu = await fetch(
    `http://localhost:4321/api/menu/getMenu?menuName=${menu}`,
);
const menuData: IMenu = await currentMenu.json();
if (menuData.error) {
    return Astro.redirect("/404");
}
---

<MenuLayout title={menuData.name}>
    <header
        class="w-full min-h-64 relative rounded overflow-hidden shadow-md bg-[url('https://th.bing.com/th/id/R.c697adb39de642e86dc2a0e8a4a24982?rik=xLE6dqFrzXwocg&pid=ImgRaw&r=0')] bg-cover bg-center bg-no-repeat content-center"
    >
        <div
            id="menuImage"
            class="mx-auto max-sm:w-32 w-44 aspect-square bg-[url('https://logolook.net/wp-content/uploads/2023/09/Pringles-Logo-2020.png')] bg-cover bg-center bg-no-repeat z-20 drop-shadow-2xl"
        >
        </div>
        <h1 class="font-bold text-3xl hidden">
            {menuData.name}
        </h1>
        <div
            class="bg-slate-50 w-full absolute bottom-0 py-2 px-2 flex justify-between"
        >
            <div class="flex gap-1">
                <i class="bi bi-geo-alt-fill text-red-500"></i>
                <p class="text-slate-800">L.G.S.M</p>
            </div>

            <div class="flex gap-1 text-green-500">
                <i class="bi bi-clock-fill"></i>
                <p>Abierto</p>
            </div>
        </div>
    </header>
    <section class="w-full">
        <div class="mt-2 px-2 relative">
            <input
                id="searchMenu"
                name="data-products"
                class="w-full rounded-lg border-gray-200 p-2 pe-12 text-sm shadow-sm bg-slate-50 placeholder:text-slate-500"
                placeholder="Buscar en el menu"
                list="data-products"
            />
            <datalist id="data-products">
                {
                    menuData.categories?.map((category) =>
                        category.products?.map((product) => (
                            <option value={product.name} />
                        )),
                    )
                }
            </datalist>
            <span
                class="absolute inset-y-0 end-0 grid place-content-center px-4 text-slate-500"
            >
                <i class="bi bi-search"></i>
            </span>
        </div>
        <ul id="tabs" class="flex py-4 overflow-x-auto font-bold">
            {
                menuData.categories?.map((category) => (
                    <li class="px-2">
                        <button id={category._id} class="">
                            {category.name}
                        </button>
                    </li>
                ))
            }
        </ul>
        <div class="w-full px-2">
            <hr class="h-0.5 bg-slate-400" />
        </div>
        <div id="tabs-content" class="px-2">
            {
                menuData.categories?.map((category) => (
                    <div class="py-2 category" data-category={category._id}>
                        {category.products?.map((product) => (
                            <div
                                class="grid grid-cols-5 grid-rows-2 bg-slate-50 backdrop-blur-md rounded mb-2 shadow-md"
                                data-product={product.name}
                            >
                                <div class="col-span-4  py-2 px-2 font-medium">
                                    {product.name}
                                </div>
                                <div class="row-start-2 col-span-4  py-0 px-2">
                                    {product.description}
                                </div>
                                <div class="col-start-5 py-2 px-2 text-end font-bold">
                                    ${product.price}
                                </div>
                                <div class="col-start-5  py-2 px-2 text-end">
                                    <button class="">Agregar</button>
                                </div>
                            </div>
                        ))}
                    </div>
                ))
            }
        </div>
    </section>
</MenuLayout>
<script>
    //const tabs = document.getElementById("tabs") as HTMLUListElement;
    const buttons = document
        .getElementById("tabs")
        ?.getElementsByTagName("button") as HTMLCollectionOf<HTMLButtonElement>;
    const categories = document.getElementById("tabs-content")
        ?.children as HTMLCollectionOf<HTMLElement>;
    const searchMenu = document.getElementById(
        "searchMenu",
    ) as HTMLInputElement;

    for (let i = 1; i < categories.length; i++) {
        categories[i].classList.add("hidden");
    }
    for (let i = 1; i < buttons.length; i++) {
        buttons[i].classList.add("text-slate-400");
    }
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", () => {
            for (let j = 0; j < buttons.length; j++) {
                buttons[j].classList.add("text-slate-400");
                buttons[j].classList.remove("text-slate-800");
                categories[j].classList.add("hidden");
            }
            buttons[i].classList.remove("text-slate-400");
            buttons[i].classList.add("text-slate-800");
            categories[i].classList.remove("hidden");
        });
    }

    searchMenu.addEventListener("input", () => {
        const searchValue = searchMenu.value.toLowerCase();
        for (let i = 0; i < categories.length; i++) {
            categories[i].classList.remove("hidden");
            for (let j = 0; j < categories[i].children.length; j++) {
                const product = categories[i].children[j] as HTMLElement;
                if (
                    product.dataset.product?.toLowerCase().includes(searchValue)
                ) {
                    product.classList.remove("hidden");
                } else {
                    product.classList.add("hidden");
                }
            }
        }
    });
</script>
