---
import { PRICE } from "../../client/utils/constant";
import Container from "../default/Container.astro";
const SERVICE_CONTENT = {
    title: "Planes de Precios",
    description:
        "Elige el plan que mejor se adapte a tus necesidades y comienza a crear tu menú QR hoy mismo.",
    plans: [
        {
            name: "3 MESES",
            features: [
                "Hasta 100 productos",
                "Posibilidad de incorporar enlaces de WhatsApp para pedidos.",
                "Soporte por correo electrónico y chat en vivo.",
            ],
            price: `AR$${PRICE * 3 * 0.95}`,
        },
        {
            name: "6 MESES",
            features: [
                "Posibilidad de incorporar enlaces de WhatsApp para pedidos.",
                "Soporte prioritario por correo electrónico, chat en vivo y asistencia telefónica.",
            ],
            price: `AR$${PRICE * 6 * 0.9}`,
        },
        {
            name: "12 MESES",
            features: [
                "Posibilidad de incorporar enlaces de WhatsApp para pedidos.",
                "Soporte prioritario por correo electrónico, chat en vivo y asistencia telefónica.",
            ],
            price: `AR$${PRICE * 12 * 0.8}`,
        },
        {
            name: "PERSONALIZADO",
            features: [
                "Menu totalmente personalizado a tu gusto.",
                "Funcionalidades a medida para tu negocio.",
                "Soporte prioritario por correo electrónico, chat en vivo y asistencia telefónica.",
            ],
            price: "Consultar",
        },
    ],
};
---

<section id="services" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-5">
    <h2 class="text-3xl font-bold mb-3">{SERVICE_CONTENT.title}</h2>
    <p class="text-xl mb-8">{SERVICE_CONTENT.description}</p>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        {
            SERVICE_CONTENT.plans.map((plan) => (
                <Container className="grid grid-rows-7 fade-in" addToClass>
                    <h3 class="row-span-1 text-xl font-bold m-0 p-0 h-fit">
                        {plan.name}
                    </h3>
                    <ul class="list-disc px-5 row-span-4">
                        {plan.features.map((feature) => (
                            <li>{feature}</li>
                        ))}
                    </ul>
                    <div class=" justify-self-end row-span-2 mx-auto">
                        <p class="text-2xl font-bold">{plan.price}</p>
                        <a
                            href={"/signin"}
                            class="bg-orange-500 text-white px-4 py-2 rounded-md mt-1 inline-block hover:bg-white hover:text-orange-500 hover:border-orange-500 border-2"
                        >
                            Elegir Plan
                        </a>
                    </div>
                </Container>
            ))
        }
    </div>
</section>
