---
import { PUBLIC_ROUTES } from "../utils/constant";

const SERVICE_CONTENT = {
    title: "Planes de Precios",
    description:
        "Elige el plan que mejor se adapte a tus necesidades y comienza a crear tu menú QR hoy mismo.",
    plans: [
        {
            name: "Básico",
            features: [
                "Hasta 100 productos en un menú QR.",
                "Posibilidad de incorporar enlaces de WhatsApp para pedidos.",
                "Perfil personalizado del restaurante.",
                "Soporte por correo electrónico.",
            ],
            price: "AR$4500/mes",
        },
        {
            name: "Estándar",
            features: [
                "Hasta 300 productos en un menú QR.",
                "Posibilidad de cargar imágenes de productos.",
                "Personalización avanzada del diseño del menú QR.",
                "Soporte por correo electrónico y chat en vivo.",
            ],
            price: "AR$6500/mes",
        },
        {
            name: "Premium",
            features: [
                "Hasta 500 productos en un menú QR.",
                "Posibilidad de cargar imágenes de productos.",
                "Personalización a pedido del diseño del menú",
                "Soporte prioritario por correo electrónico, chat en vivo y asistencia telefónica.",
            ],
            price: "AR$8500/mes",
        },
    ],
};
---

<section id="services" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-5">
    <h2 class="text-3xl font-bold mb-3">{SERVICE_CONTENT.title}</h2>
    <p class="text-xl mb-8">{SERVICE_CONTENT.description}</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {
            SERVICE_CONTENT.plans.map((plan) => (
                <div class="flex flex-col justify-between bg-white rounded-lg shadow-lg p-6 fade-in">
                    <h3 class="text-2xl font-bold mb-4">{plan.name}</h3>
                    <ul class="list-disc px-6">
                        {plan.features.map((feature) => (
                            <li>{feature}</li>
                        ))}
                    </ul>
                    <div class="mt-2">
                        <p class="text-2xl font-bold mb-1">{plan.price}</p>
                        <a
                            href={PUBLIC_ROUTES.SIGN_IN}
                            class="bg-orange-500 text-white px-4 py-2 rounded-md mt-4 inline-block hover:bg-white hover:text-orange-500 hover:border-orange-500 border-2"
                        >
                            Elegir Plan
                        </a>
                    </div>
                </div>
            ))
        }
    </div>
</section>
