---
import { CDN_URL } from "../../client/utils/constant";
import type { Menu } from "../../server/class/Menu";

interface Props {
    menu: Menu[];
}

const { menu } = Astro.props;
const siteUrl = import.meta.env.SITE_URL;
---

<div class="px-2 w-full space-y-2 relative">
    <div class="flex justify-between">
        <h2 class="font-bold">Mis Menus</h2>
        <span class="font-semibold text-slate-600">{menu.length}</span>
    </div>

    {
        menu.map((m) => (
            <div class="flex flex-row gap-2 w-full bg-slate-100 rounded-md border border-slate-300 shadow-md p-4 relative">
                <img
                    alt=""
                    class="h-20 w-auto"
                    src={
                        m.logoUrl
                            ? `${CDN_URL}${m.logoUrl}`
                            : `https://placehold.co/250x250?text=${m.name.at(0)}`
                    }
                />
                <div>
                    <h2 class="font-bold text-xl text-orange-500">{m.name}</h2>
                    <p class="text-lg">{m.description}</p>
                    <span class="font-semibold text-xs text-orange-400">
                        Expira: {m.expDate.toLocaleString("es-US")}
                    </span>
                </div>
                <a
                    class="font-bold drop-shadow-sm absolute right-4 transform top-1/2 -translate-y-1/2 text-orange-500 text-2xl"
                    href={siteUrl + "/" + m.name}
                    target="_blank"
                >
                    <i class="bi bi-box-arrow-up-right" />
                </a>
            </div>
        ))
    }
</div>
